#money {
	margin-top: 30px;
}
.jumbotron {
	margin-top: 30px;
}
#lightblue {
	background-color: lightblue;
}
#drop {
	margin-top: 30px;
}
#dropdownmenu {
	width: 100%;
}
#dropdowncontent {
	width: 100%;
	text-align: center;
}